
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  background-color: black;
}
h2{
  font-size: 5rem;
  margin-bottom: 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.logo {
  height: 200px;
  margin-bottom: 20px;
}
.top-nav {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.nav-link {
  font-size: 2rem;
  color: #0c220e;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  color: white;
  border-bottom: 2px solid white;
}

#scroll-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}
.intro{
  text-align: center;
}
.button{
  display: inline-block;
  padding: 12px 24px;
  background-color: #1c5f20; /* Indigo */
  box-shadow: #0000007e 0px 2px 4px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}
.button:hover {
  background-color: #000000; /* darker indigo */
  box-shadow: #ffffff7e 0px 2px 4px;
}
.section {
  flex: none;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5em;
  color: white;
  background-color: #1B401E;
  flex-direction: column;
  padding-top: 302px;
}
.section:nth-child(1) {
  font-size: 3.5rem;
  padding-top: 0;
  justify-content: center;
}

.grid-container {
  display: grid;
  gap: 0 10px;
  width: 90%;
  max-width: 800px;
}
/* Styles for the first grid container */
.section:nth-of-type(2) .grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);  
}

/* Styles for the second grid container */
.section:nth-of-type(4) .grid-container {
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(10, auto); /* 10 rows */

}


.grid-item {
  padding: 0 20px;
}
.grid-item:nth-child(odd) {
  text-align: left;
}

.grid-item:nth-child(even) {
  text-align: right;
}
.membership-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.membership-card {
  padding: 0 40px;
  max-width: 800px;
  width: 100%;
}

.membership-card h2 {
  font-size: 5rem;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.membership-card .cost {
  color: rgb(255, 255, 255);
  margin-left: 15px;
}

.note {
  font-size: 1.2rem;
  color: rgb(204, 204, 204);
  text-align: center;
  margin-bottom: 20px;
}

.benefits {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.benefits li {
  /* margin-bottom: 12px; */
  padding-left: 30px;
  position: relative;
  font-size: 2rem;
}

.benefits li::before {
  content: "✓";
  position: absolute;
  left: 0px;
  color: rgb(255, 255, 255);
}

.fineprint {
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
  font-style: italic;
  text-align: center;
}
.additional-info {
  font-size: 1.3rem;
  color: #ccc;
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 0 50px;
}

.gallery img {
  width: 100%;
  width: 450px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999; /* put it above EVERYTHING */
  padding: 0 50px;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}
#overlay-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.overlay-btn {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}
#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  pointer-events: auto;
}

.contact-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50vw;
  
}

.map-container,
.contact-form {
  flex: 1 1 48%;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: inherit;
  resize: vertical;
}
.contact-form textarea {
  flex-grow: 1;
}

.contact-form button {
  padding: 12px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #333;
}
.spinner {
  border: 4px solid rgba(255,255,255,0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
.dots {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 26px;
  z-index: 1001;
}

.dot {
  width: 170px;
  height: 5px;
  border-radius: 5px;
  background: #0b210d;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  z-index: 1002;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 177px;
}

.social-icon, .phone-number, .email {
  font-size: 1.5rem;
  color: white;
}

.social-icon {
  text-decoration: none;
  color: white;
}

.social-icon:hover, .email:hover {
  color: #000000;
}
.footer-text{
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .logo {
    height: 70px;
  }
  .top-nav {
    gap: 13px;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  h2{
    font-size: 2rem;
    text-align: center;
    padding: 0 15px;
  }

  .section:nth-child(2), .section:nth-child(3), .section:nth-child(4), .section:nth-child(5), .section:nth-child(6) {
    justify-content: flex-start;
    padding-top: 170px;
    ;
  }
  .button{
    font-size: 2.5rem;
    padding: 8px 16px;
  }
  .contact-flex{
    width: 90vw;
    padding: 0 15px;
  }
  .social-icon{
    font-size: 1rem;
  }
  .email{
    font-size: 1rem;
  }
  .footer-container {
    padding: 0 25px;
  }
  .section{
    font-size: 1.5rem;
  }
  .grid-item{
    padding: 0 8px;
  }
  .membership-card {
    padding: 0 15px;
    max-width: 90%;
  }
  .membership-section{
    padding-top: 0px;
  }
  .membership-card h2 {
    font-size: 2rem;
  }
  .benefits li {
    font-size: 1rem;
  }
  .fineprint {
    font-size: 0.7rem;
  }
  .additional-info {
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .gallery{
    grid-template-columns: repeat(3, 1fr);
    padding: 0 15px;
    gap: 10px;
  }
  .gallery img{
    width: 115px !important;
  }
  .contact-form input{
    font-size: 0.8rem;
    padding: 8px;
  }
  .contact-form button{
    font-size: 1.2rem;
    padding: 8px 16px;
  }
  .map-iframe{
    height: 270px;
  }
  .section:not(:first-child) .note {
    font-size: 0.7rem;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .footer-container{
    gap: 90px
  }
  .footer-text{
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 2000px) {
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-flex{
    width: 70vw;
  }
  .gallery img{
    width: 300px;
  }
}
@media (max-height: 670px) {
  .section:nth-child(2), .section:nth-child(3), .section:nth-child(4), .section:nth-child(5), .section:nth-child(6) {
    justify-content: flex-start;
    padding-top: 140px;
    ;
  }
  .gallery{
    gap: 10px;
  }
  .gallery img{
    width: 110px;
  }
  .section.kontak h2{
    margin-bottom: 10px;
  }
  .map-iframe{
    height: 150px;
  }
}
@media (max-height: 1000px) and (min-width: 768px){
  .logo{
    height: 100px;
  }
  h2{
    font-size: 3.3rem;
    margin-bottom: 15px;
  }
  .membership-card h2{
    font-size: 3rem;
    margin-bottom: 0px;
  }

  .section{
    justify-content: flex-start;
    padding-top: 200px;
    font-size: 2rem;
  }
  .section:nth-child(1) h2{
    font-size: 5rem;
  }
  .gallery img{
    width: 200px;
  }
  .benefits li{
    font-size: 1.5rem;
  }
  .section:not(:first-child) .note {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .fineprint{
    font-size: 1.1rem;
  }
  .additional-info{
    font-size: 1.2rem;
  }
}
@media (min-height: 1001px) and (max-height: 1200px) {
  /* Your custom styles for laptops/PCs with height between 1000px and 1300px */
.section:nth-child(1) h2{
    font-size: 6rem;
  }
  .logo {
    height: 150px;
  }
  h2 {
    font-size: 4rem;
  }
  .section {
    padding-top: 250px;
  }
  .membership-card h2 {
    font-size: 4rem;
  }
  .gallery img {
    width: 230px;
  }
  .benefits li {
    font-size: 1.7rem;
  }
  .section:not(:first-child) .note {
    font-size: 1.2rem;
  }
  .fineprint{
    font-size: 1.1rem;
  }
  /* Add any more adjustments you want for that height range here */
}
@media (max-height: 850px) and (min-width: 900px){
  .nav-link{
    font-size: 1.5rem;
  }
  .section:nth-child(1) h2{
    font-size: 4.3rem;
  }
  .section:nth-child(2), .section:nth-child(3), .section:nth-child(4), .section:nth-child(5), .section:nth-child(6) {
    justify-content: flex-start;
    padding-top: 180px;
    font-size: 1.7rem;
    h2{
      font-size: 2.5rem;
    }
  }
  .gallery img{
    width: 150px;
  }
  .social-icon ,.email{
    font-size: 1.2rem;
  }
  .footer-text{
    font-size: 0.8rem;
  }
  .section:not(:first-child) .note {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  .fineprint{
    font-size: 0.9rem;
  }
  .additional-info{
    font-size: 1rem;
  }
  .button{
    font-size: 3rem;
    padding:10px 16px;
  }

}